@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --fontFamily:'Inter', sans-serif;;
    --fontTitulos: 'Playfair Display', serif;
    --titulos: 20px;
    --paragrafos: 14px;
    --black-color: #262828;
    --colorTitulos: #4baf47;
    --colorLinks: #4baf47;
    --colorBordas: #a9aaac;
    --colorBotoes: #cd191d;
}